Windows Registry Editor Version 5.00

; Registry keys KnightShift reads, normally written by Steam's install script.
; setup.sh fills @GAMEDIR@ with the game directory as Wine sees it (e.g. Z:\home\you\ks-server)
; and imports this file into the Wine prefix. Backslashes are doubled (.reg syntax).

[HKEY_LOCAL_MACHINE\SOFTWARE\Reality Pump\KnightShift]
"version"="1.3"
"language"="ENGLISH"
"Charset"=dword:000000ee

[HKEY_LOCAL_MACHINE\SOFTWARE\Reality Pump\KnightShift\BaseGame\FileSystem]
"datapath"="@GAMEDIR@/>"
"outputdir"="@GAMEDIR@"

[HKEY_LOCAL_MACHINE\SOFTWARE\Reality Pump\KnightShift\BaseGame\Graphics\Default]
"EngineType"=dword:00000000
"FullScreen"=dword:00000000

[HKEY_LOCAL_MACHINE\SOFTWARE\Reality Pump\KnightShift\BaseGame\Graphics\Direct3D]
"TextureQuality"=dword:00000001
"ObjectsQuality"=dword:00000002
"ShadowsType"=dword:00000002
"ParticlesQuality"=dword:00000002
"RainSnowEffects"=dword:00000001
"WaterFoam"=dword:00000001
"Reflections"=dword:00000001
"TreeAnimation"=dword:00000001
"CloudsShadows"=dword:00000001
"SetAntialiasing"=dword:00000001
"UseTrueColorTextures"=dword:00000001

[HKEY_LOCAL_MACHINE\SOFTWARE\Reality Pump\KnightShift\BaseGame\Network\Enumeration]
"DPLobby"=dword:00000000
"EarthNet"=dword:00000000
"Serial"=dword:00000000
